*{
margin: 0;
padding: 0;
}

header{
background-color: gold;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;

}

section {
    display: flex;
align-items: center;
color:black;
margin: 10px 0;
padding: 10px 20px;
}
]div{
    padding: 30px;
}
body{
    background-color: cornsilk;
    .image-description {
        display: flex; 
        max-width: 800px; 
        margin: 20px auto; 
    }
    ﻿
    .image {
        flex: 1; 
    }
    
    .description {
        flex: 1; 
        padding: 0 20px; 
    }

    


}